.events-list-item {
  padding-bottom: 30px;
}

.events-list-item:not(:first-child){
  padding-top: 30px;
}

.events-list-item:not(:last-of-type){
  border-bottom: 1px solid #ddd;
}

.events-list-item .page-heading{
  margin-bottom: 25px;
}

.events-list-item h3 a {
  display: block;
}

.ui-datepicker {
  width: auto;
}

.editor textarea{
  min-height: 155px;
}

.list-event-meta dd{
  margin-bottom: 10px;
}

.list-event-meta dt{
  font-size: 1.2em;
}