.events-list-item:not(:first-child) {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.events-list-item:last-child{
    border-bottom: none;
}

.events-item-title {
    margin-bottom: 30px;
}

.ui-datepicker {
    width: auto;
}

.editor textarea {
    min-height: 200px;
}

.list-event-meta dd {
    margin-bottom: 10px;
}

.list-event-meta dt {
    font-size: 1.2em;
}

.btn-read-more{
    display: inline: block;
    margin: 10px 0;
}