{% resource 'calendar/javascript/jquery-ui.js' %}
{% resource 'calendar/javascript/ckanext-calendar.js' %}
{% extends 'page.html' %}

{% block custom_styles %}
{{ super() }}
<link rel="stylesheet" href="/css/jquery-ui-datepicker.css">
<link rel="stylesheet" href="/css/ckanext-calendar.css">
{% endblock %}

{% block toolbar %}
  <div class="toolbar">
        <ol class="breadcrumb">
          <li class="home"><a href="{{ h.url_for('home') }}"><i class="fa fa-home"></i><span> {{ _('Home') }}</span></a></li>
          {% block breadcrumb_content %}{% endblock %}
        </ol>
  </div>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <span class="fa fa-calendar"></span>
    <span class="fa-label">{{ _('Events') }}</span>
  </h2>
  <div class="module-content">
    {% trans %}
    <p>Some well-written description needs to be added here. When writing it, please think about what content the page includes, which actions it offers and which elements are instantly visible. This block should be used to provide extra information for the users, in case they are not sure what they are looking at.</p>
    {% endtrans %}
  </div>
</div>

  {% block recent_events %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <span class="fa fa-clock-o"></span>
      <span class="fa-label">{{_('Recent Events')}}</span>
    </h2>
    <div class="module-content">
      <ul class="list-recent">
        {% set recent_events = h.calendar_get_recent_events() %}
        {% if recent_events %}
          {% for event in recent_events %}
            <li><span class="fa fa-calendar"></span><a href="{{h.url_for('event_show', id=event.id)}}">{{event.title}}</a></li>
          {% endfor %}
        {% else %}
          {{ _('No events are created in the system.') }}
        {% endif %}
      </ul>
    </div>
  </div>
  {% endblock %}

{% endblock %}

{% block scripts %}
{% endblock %}