{% extends 'events/base.html' %}
{% import 'macros/form.html' as form %}

{% set errors = errors or {} %}

{% block toolbar %}
{{ super() }}
{% endblock %}

{% block page_header %}
{% endblock %}
{% set read_url = h.url_for('event_show', id=event.id) %}
{% set cancel_url = h.url_for('event_index') %}
{% block primary_content_inner %}
<h1 class="page-heading">{{_('Edit Event')}} - <a href="{{ read_url }}" title="Edit {{ event_current_title }}">{{ event_current_title }}</a></h1>
<form id="update-event-form" method="post">
  <div class="form-group">
    {{ form.input('title', id='title', value=event.title, error=errors.title, label=_('Name'), placeholder='Name your event', classes=['control-full ', 'control-large'], is_required=true) }}
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        {{ form.input('start', type='datetime', value=event.start, error=errors.start, id='add-event-start-date-input', label=_('Start date'), is_required=true) }}
        <div class="date-picker" id="add-event-start-date"></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        {{ form.input('end', value=event.end, error=errors.end, id='add-event-end-date-input', label=_('End date'), is_required=true) }}
        <div class="date-picker" id="add-event-end-date"></div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12">
        {{ form.input('venue', value=event.venue, id='event-venue', label=_('Venue'), placeholder=_('Where is the event talking place?')) }}
        {{ form.markdown('description', value=event.description, id='event-description', label=_('Description'), placeholder=_('Describe the event briefly or in more details')) }}
      </div>
    </div>
</div>
  <div class="form-actions">
    <a class="btn pull-left btn-danger" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
    <button class="btn btn-primary" name="save" type="submit">{{_('Save')}}</button>
  </div>
</form>
{% endblock %}