{% extends 'events/base.html' %}

{% block subtitle %}{{ event.title }}{% endblock %}

{% block page_primary_action %}
{% if h.check_access('event_patch', {}) %}
{% endif %}
{% endblock %}

{% block page_header %}
{% endblock %}


{% block primary_content_inner %}
<div class="event-page-container">
  <div class="events-list-item">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="page-heading"><a href="{{ event_url }}" title="View {{ event.title }}">{{ event.title }}</a></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <dl class="list-event-meta">
          <dt><span class="fa fa-clock-o"></span><span class="fa-label">{{ _('Starts') }}</span></dt>
          <dd>{{ h.render_datetime(event.start, with_hours=True) }}</dd>
        </dl>
      </div>
      <div class="col-lg-3">
        <dl class="list-event-meta">
          <dt><span class="fa fa-globe"></span><span class="fa-label">Venue</span></dt>
          <dd>{{event.venue}}</dd>
        </dl>
      </div>
      <div class="col-lg-3">
        <dl class="list-event-meta">
          <dt><span class="fa fa-hourglass-o"></span><span class="fa-label">{{ _('Ends') }}</span></dt>
          <dd>{{ h.render_datetime(event.end, with_hours=True) }}</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        {% if event.description %}
        <p>{{ h.render_markdown(event.description) }}</p>
        {% else %}
        <p>{{ _('No description provided.') }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <form id="delete-event-form">
    <div class="form-actions">
      {% block eventdelete %}
          {% if h.check_access('event_delete', {}) %}
          {% link_for _('Delete Event'), controller='ckanext.calendar.controllers.calendar:CalendarController', id=event.id, action='event_delete', class_='btn btn-danger pull-left' %}
          {% endif %}
      {% endblock %}
      <!--<button class="btn btn-danger pull-left" name="save" type="submit">{{_('Delete Event')}}</button>-->
      {% block eventupdate %}
          {% if h.check_access('event_update', {}) %}
          {% link_for _('Edit Event'), controller='ckanext.calendar.controllers.calendar:CalendarController', id=event.id, action='event_update', class_='btn btn-primary' %}
          {% endif %}
      {% endblock %}
    </div>
  </form>
</div>
{% endblock %}