{% set event_url = h.url_for('event_show', id=event.id) %}

<div class="events-list-item">
  <h3>
    <a href="{{ event_url }}">{{ event.title }}</a>
    <small class="date">{{ _('From') }}: {{ h.render_datetime(event.start, with_hours=True) }}</small>
    <br>
    <small class="date">{{ _('To') }}: {{ h.render_datetime(event.end, with_hours=True) }}</small>
  </h3>
  {% if event.description %}
    <p>{{ event.description }}</p>
  {% else %}
    <p>{{ _('No description provided.') }}</p>
  {% endif %}
</div>
