{% set event_url = h.url_for('event_show', id=event.id) %}

<div class="events-list-item">
  <div class="row">
    <div class="col-lg-9">
      <h3 class="page-heading"><a href="{{ event_url }}" title="View {{ event.title }}">{{ event.title }}</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <dl class="list-event-meta">
        <dt><span class="fa fa-clock-o"></span><span class="fa-label">{{ _('Starts') }}</span></dt>
        <dd>{{ h.render_datetime(event.start, with_hours=True) }}</dd>
      </dl>
    </div>
    <div class="col-lg-3">
      <dl class="list-event-meta">
        <dt><span class="fa fa-globe"></span><span class="fa-label">Venue</span></dt>
        <dd>{{event.venue}}</dd>
      </dl>
    </div>
    <div class="col-lg-3">
      <dl class="list-event-meta">
        <dt><span class="fa fa-hourglass-o"></span><span class="fa-label">{{ _('Ends') }}</span></dt>
        <dd>{{ h.render_datetime(event.end, with_hours=True) }}</dd>
      </dl>
    </div>
    <div class="col-lg-3">
      <ul class="list-inline event-actions">
        <li>
          {% block eventaction %}
          {% if h.check_access('event_update', {}) %}
          {% set edit_url = h.url_for('event_update', id=event.id) %}
            <a href="{{edit_url}}" class="btn btn-default"><span class="sr-only">{{_('Edit')}}</span><span class="fa fa-pencil"></span></a>
          {% endif %}
          {% endblock %}
          <!--<button class="btn btn-default" ><span class="sr-only">{{_('Edit')}}</span><span class="fa fa-pencil"></span></button>-->
        </li>
        <li>
          {% block eventactions %}
          {% if h.check_access('event_update', {}) %}
          {% set delete_url = h.url_for('event_delete', id=event.id) %}
            <a href="{{delete_url}}" class="btn btn-danger"><span class="sr-only">{{_('Delete')}}</span><span class="fa fa-trash"></span></a>
          {% endif %}
          {% endblock %}
          <!--<button class="btn btn-danger" ><span class="sr-only">{{_('Delete')}}</span><span class="fa fa-trash"></span></button>-->
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      {% if event.description %}
      <p>{{ h.render_markdown(event.description|truncate(400)) }}</p>
      {% else %}
      <p>{{ _('No description provided.') }}</p>
      {% endif %}
    </div>
  </div>
</div>
